{% extends 'cms_app/base.html' %}
{% load static %}

{% block title %}
Edit Profile Image
{% endblock %}

{% block content %}

<section id="sectionTitle">
  <div class="pageTitle">
    <h1>Profile Image</h1>
  </div>
</section>
{% if messages %}
              {% for m in messages %}
                  <div class="alert alert-success">{{ m }}</div>
              {% endfor %}
          {% endif %}
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    <div class="col-sm-9 text-center" id="mainContent">
      <div class="row">

        
        
      </div>
      <div class="row">
        <div class="col-sm-12 text-left">
          <h3>User profile</h3>
          
          <table class="table table-bordererd">
            <tr>
            <th>Image</th>
            <th>Biography</th>
            <th colspan="2">Action</th>
            </tr>
            {% if profile %}
            {% for x in profile %}
            <tr>
                <td><img src="{{ x.image.url}}" alt="" class="img-thumbnail" width="200px" height="200px"></td>
                <td>{{ x.biography }}</td>
                <td><a href="{% url 'cms_app:edit_form' x.id %}" class="btn btn-primary">Edit</a></td>
                <td><a href="{% url 'cms_app:profile_delete' x.id %}" class="btn btn-danger">Delete</a></td>

            </tr>
            {% endfor %}
            {% endif %}
          </table> 
             
        
        </div>
      </div>
    </div>
    {% include 'cms_app/sidebar.html' %}

  </div>
</section>

{% endblock %}

