{% extends 'cms_app/base.html' %}
{% load static %}

{% block title %}
Blog detail
{% endblock %}


{% block content %}
<section id="sectionTitle">
  <div class="pageTitle">
    <h1> {% if single %} {{ single.pst_title }} {% endif %}</h1>
  </div>
</section>
<!-- END OF PAGE TITLE -->
<section id="content">
  <div class="row">
    {% if single %}
    <div class="col-sm-9 text-center" id="detailContent">
      <div class="contain-img">
        <div class="img-div" style="height: 250px">
            <img src="{{ single.pst_image.url }}" class="img-responsive">
        </div>
        <p>
          Posted:{{ single.created_at|timesince }} Ago, Category:<a href="sport.html">{{ single.category }}.</a>. 
          
        </p>
        <p>
          {{ single.num_site }} View{{ single.num_site|pluralize}} <span class="fa fa-eye"></span>
        </p>
      </div>
      <div class="detail-content">
        <h2>{{ single.pst_title }}</h2>
        <p>
          {{ single.content }}
        </p>
      </div>
      <p>
        {{ total_likes }} | Like{{ total_likes|pluralize }}
                    {% if request.user.is_authenticated %}
                    <form action="{% url 'cms_app:like_blog' single.id %}" method="post">
                        {% csrf_token %}
                        {% if is_liked %}
                        <button name="post_id" class="btn btn-danger" value="{{single.id}}">Dislike
                          <i class="fa fa-thumbs-o-down"></i>
                        </button>
                        {% else %}
                        <button name="post_id" class="btn btn-primary"  value="{{single.id}}">Like
                          <i class="fa fa-thumbs-o-up"></i>
                        </button>
                        
                        {% endif %}
                    </form>
                    
                    {% endif %}
      </p>

      {% if messages %}
        {% for m in messages %}
            <div class="alert alert-success">{{ m }}</div>
        {% endfor %}
      {% endif %}

      

      {% if comment %}
        {% for c in comment %}
        <div class="comment">
          
            <p>Name: {{ c.name }}</p> 
          <p>Message: {{ c.comment }}</p>
          <p>Created on: {{c.created_at}}</p>
          {% if request.user.is_authenticated %}
          <a href="{% url 'cms_app:comment_detail' c.id %}" class="btn btn-primary">ReplyComment</a>
           {% else %}
           <a href="{% url 'cms_app:custom_login' %}" class="btn btn-info">Login to reply this comment</a>
          {% endif %}
        </div>
        {% endfor %}
        {% else %}

        <center>
            <h3> You havn't not commented on this post</h3>
        </center>
        
      {% endif %}
      <form method="POST" style="text-align: left;">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" value="{{request.user.username}}" name="name" required class="form-control" placeholder="Your Name">
        </div>
        <div class="form-group">
          <label for="">Comment</label>
         <textarea name="comment" class="form-control"></textarea>
        </div>
        <input type="submit" class="btn btn-primary" placeholder="Message" value="Comment">
        {% csrf_token %}
        
      </form>

  </div>
    {% endif %}
    
    {% include 'cms_app/sidebar.html' %}
    <!-- END OF ASIDE CONTENT -->
  </div>
</section>

{% endblock %}